@value gridBaseline from '../../metrics.css';

.container {
  display: inline-flex;
  padding: gridBaseline;
  border: 1px dashed black;
  margin: calc(gridBaseline * 2);
}

.section {
  margin-left: gridBaseline;
  display: flex;
  align-items: center;
}

.icon {
  display: inline-flex;
  margin-right: calc(gridBaseline * 4);
}

.icon:last-child {
  margin-right: 0;
}
