@value gridBaseline from '../../metrics.css';
@value monoWhiteA50, monoGreyLight, monoGreyA100 from '../../colors.css';

@value bannerWidth: calc(gridBaseline * 16);
@value bannerHeight: calc(gridBaseline * 4);

.banner {
  width: bannerWidth;
  height: bannerHeight;
  line-height: bannerHeight;
  left: calc(bannerWidth * 0.707 / 2 - bannerWidth / 2);
  top: calc(bannerWidth * 0.707 / 2 - bannerHeight / 2);
  transform: rotate(-45deg) translate(0, calc(0 - bannerHeight));

  position: absolute;
  overflow: hidden;
  z-index: 15;
  text-align: center;
  background-color: green;
  box-shadow: 0 0 calc(gridBaseline * 6) 0 monoGreyA100;
  color: monoWhiteA50;
  cursor: pointer;
}

.banner:hover {
  text-decoration: underline;
  box-shadow: 0 0 calc(gridBaseline * 2) gridBaseline monoGreyLight;
}
