@value gridBaseline from '~components/metrics.css';

.nav {
  display: flex;
  width: calc(gridBaseline * 30);
  overflow: hidden;
}

.tallNav {
  composes: nav;
  min-height: 100vh;
}

.shortNav {
  composes: nav;
  height: 400px;
}
