@value gridBaseline from '~components/metrics.css';

.section {
  margin-top: 20px;
}

.stripeDark {
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}

.stripeLight {
  background-position: 0px 0px, 10px 10px;
  background-size: 20px 20px;
  background-image: linear-gradient(
      45deg,
      #eee 25%,
      transparent 25%,
      transparent 75%,
      #eee 75%,
      #eee 100%
    ),
    linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
}

.subSection {
  display: inline-flex;
  padding: gridBaseline;
  border: 1px dashed black;
  margin: calc(gridBaseline * 2);
}
