@value gridBaseline from '~components/metrics.css';

.section {
  margin-left: gridBaseline;
  display: flex;
  align-items: center;
}

.icon {
  display: inline-flex;
  margin-right: calc(gridBaseline * 4);
}

.icon:last-child {
  margin-right: 0;
}
