@value gridBaseline from '~components/metrics.css';
@value monoGreyLight from '~components/colors.css';

.home {
  min-height: 100vh;
  background-color: monoGreyLight;
}

.blogList {
  width: calc(gridBaseline * 120);
  margin: 0 auto;
  padding: calc(gridBaseline * 4) 0;
}

.blogAbstract {
  margin-bottom: calc(gridBaseline * 4);
}
