@value gridBaseline from '../../metrics.css';
@value monoGreyA100, monoGreyUltraLight, monoBlackA100, monoBlackA150, blueA400 from '../../colors.css';

.link {
  display: block;
  line-height: calc(gridBaseline * 6);
  padding-left: calc(gridBaseline * 8);
  height: 100%;
}

.link:hover {
  color: monoBlackA100;
  background-color: blueA400;
}

.list {
  padding-top: gridBaseline;
  border-right: 1px solid monoGreyA100;
  box-shadow: 0 0 10px 0 monoGreyA100;
  box-sizing: border-box;
  background-color: monoGreyUltraLight;
  color: monoBlackA150;
  flex-grow: 1;
  overflow-y: auto;
}
