@value gridBaseline from '~components/metrics.css';
@value colorBlue from '~components/colors.css';
@value monoWhite, monoWhiteA50, monoWhiteA200, monoBlackA250 from '~components/colors.css';
@value colorPurpleLight from '~components/colors.css';

@value shortHeaderHeight: calc(gridBaseline * 7);

.iconButton {
  margin-left: calc(gridBaseline * 2);
}

.icon {
  fill: monoWhite;
}

.container {
  background-color: colorBlue;
  color: monoWhiteA50;
  height: calc(gridBaseline * 30);
}

.shortBar {
  position: fixed;
  top: 0;
  height: shortHeaderHeight;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: colorBlue;
}

.withBottomShadow {
  box-shadow: 0 0 gridBaseline 0 monoBlackA250;
}

.content {
  padding-left: calc(gridBaseline * 30);
  padding-top: calc(gridBaseline * 13);
}

.subTitle {
  color: colorPurpleLight;
}
