@value gridBaseline from '~components/metrics.css';
@value monoBlackA100, monoBlackA150 from '~components/colors.css';
@value monoGreyA100, monoGreyUltraLight from '~components/colors.css';
@value blueA400 from '~components/colors.css';

.link {
  display: flex;
  align-items: center;
  height: calc(gridBaseline * 6);
  padding-left: calc(gridBaseline * 8);
}

.link:hover {
  color: monoBlackA100;
  background-color: blueA400;
}

.list {
  padding-top: gridBaseline;
  border-right: 1px solid monoGreyA100;
  box-shadow: 0 0 10px 0 monoGreyA100;
  box-sizing: border-box;
  background-color: monoGreyUltraLight;
  color: monoBlackA150;
  flex-grow: 1;
  overflow-y: auto;
}
