@value gridBaseline from '~components/metrics.css';
@value monoGreyA100 from '~components/colors.css';

.card {
  box-sizing: border-box;
  display: inline-block;
  padding: calc(gridBaseline * 2) calc(gridBaseline * 3);
  border-radius: gridBaseline;
  box-shadow: 0 1px 2px monoGreyA100;
}

.time {
  color: monoGreyA100;
}

.title {
  margin-top: gridBaseline;
}

.content {
  margin-top: gridBaseline;
}
