@value gridBaseline from '~components/metrics.css';
@value colorBlue from '~components/colors.css';
@value monoWhite from '~components/colors.css';

.ripple {
  position: relative;
  border-radius: 50%;
  width: calc(gridBaseline * 0.5);
  height: calc(gridBaseline * 0.5);
  opacity: 0;
  animation: rippleEffect 500ms 1;
}

.white {
  background-color: monoWhite;
}

.blue {
  background-color: colorBlue;
}

@keyframes rippleEffect {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  100% {
    transform: scale(100);
    opacity: 0;
  }
}
