@import url('../fonts/font.css');
@value defaultFontStack: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;

@value fontSizeTitleLarge: 3.2rem;
@value fontSizeTitleMedium: 2.4rem;
@value fontSizeTitleSmall: 1.8rem;
@value fontSizeMedium: 1.4rem;
@value fontSizeSmall: 1.2rem;
@value fontSizeMicro: 1.0rem;

@value fontWeightRegular: 400;
@value fontWeightSemiBold: 600;
@value fontWeightBold: 700;

@value textTitleLargeLineHeight: 1.3;
@value textTitleMediumLineHeight: 1.3;
@value textTitleSmallLineHeight: 1.3;
@value textMediumLineHeight: 1.6;
@value textSmallLineHeight: 1.6;
@value textMicroLineHeight: 1.6;

.base {
  font-family: defaultFontStack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

.titleBase {
  composes: base;
  margin: 0 auto;
}

.textBase {
  composes: base;
}

.titleLarge {
  composes: titleBase;

  font-size: fontSizeTitleLarge;
  font-weight: fontWeightBold;
  letter-spacing: -0.05rem;
  line-height: textTitleLargeLineHeight;
}

.titleMedium {
  composes: titleBase;

  font-size: fontSizeTitleMedium;
  letter-spacing: -0.03rem;
  line-height: textTitleMediumLineHeight;
}

.titleSmall {
  composes: titleBase;

  font-size: fontSizeTitleSmall;
  letter-spacing: -0.01rem;
  line-height: textTitleSmallLineHeight;
}

.textMedium {
  composes: textBase;

  font-weight: fontWeightRegular;
  font-size: fontSizeMedium;
  line-height: textMediumLineHeight;
}

.textSmall {
  composes: textBase;

  font-weight: fontWeightRegular;
  font-size: fontSizeSmall;
  line-height: textSmallLineHeight;
}

.textMicro {
  composes: textBase;

  font-weight: fontWeightSemiBold;
  font-size: fontSizeMicro;
  line-height: textMicroLineHeight;
}
