@value gridBaseline from '../components/metrics.css';

.container {
  display: flex;
  min-height: 100vh;
}

.nav {
  width: calc(gridBaseline * 30);
  display: flex;
}

.mainContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
